 <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>About our Team</h2>
                    <p class="lead">Cool Plum is a great web and mobile development in full stack deveopers tooke part in. Please meet our team...</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/Alexander.jpg" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Alexander Kitanovski<small class="designation">CEO &amp; Founder</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/davide.png" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Davide Luca<small class="designation">Senior Vice President &amp; Web developer</small></h3>
                                    </div>
                                </div>        
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/tony.png" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Tony Rinderer<small class="designation">Assitant Vice President &amp; Web designer</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/davide1.png" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Davide Luca<small class="designation">Co-Founder&amp;Mobile developer</small></h3>
                                    </div>
                                </div>   
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/tony1.png" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Tony Rinderer<small class="designation">Marketing Manager</small></h3>
                                    </div>
                                </div>     
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><%=image_tag "images/team/Alexander.png" , class:"img-responsive img-thumbnail img-circle" %></p>
                                        <h3>Alexanderer Kitanovski<small class="designation">Support Manager</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->