 <section id="contact">
   <div class="dark-mask"></div>
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Form</h1>
                        <p>If you have interest in our team, please contact anytime and anywhere...</p>
                        <div class="status alert alert-success"></div>
                        <%= form_for(:user, method:'get', remote:'true') do |f| %>
                             <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :name, class:"form-control", required:"true", placeholder:'Name' %>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :email, class:"form-control", required:"true", placeholder:'Email address' %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <%= f.text_area :message, class:"form-control", required:"true", placeholder:'Message', rows:'12' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.submit "Send Message", class:'btn btn-danger btn-lg' %>                                       
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Our Address</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>CoolPlum, Inc.</strong><br>
                                    Kej Dimitar Vlahov 5<br>
                                    Skopje 1500, Macedonia<br>
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                  <abbr title="email">Email:</abbr> coolplum1213@gmail.com
                                  <abbr title="skype">Skype:</abbr> cool.plum
                                </address>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <div id="map">
                                 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                              </div>
                              <div class="social">
                                <a href="http://www.facebook.com"><i class="icon-facebook icon-social"></i></a>
                                <a href="https://www.plus.google.com"><i class="icon-google-plus icon-social"></i></a>
                                <a href="https://www.pinterest.com"><i class="icon-pinterest icon-social"></i></a>
                                <a href="http://www.linedin.com"><i class="icon-linkedin icon-social"></i></a>
                                <a href="https://www.twitter.com"><i class="icon-twitter icon-social"></i></a>
                                <a href="https://www.youtube.com"><i class="icon-youtube icon-social"></i></a>
                              </div>
                          </div>

                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
       <div class="container footer">
         <div class="row">
           <div class="col-sm-6">
             &copy; 2016 <a target="_blank" href="http://cool-ruby.herokuapp.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Cool Plum</a>. All Rights Reserved.
           </div>
           <div class="col-sm-6">
             <%=image_tag "images/alexander.png", class:"pull-right" %>

           </div>
         </div>
       </div>
    </section><!--/#contact-->
