<section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Portfolio</h2>
                    <p class="lead">Here are examples for development for <br>ruby on rails, magento, wordpress, iOS, android and so forth.</p>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".ruby">Ruby on Rails</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".magento">Magento</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Bootstrap</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".html">HTML</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Wordpress</a></li>                 
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item1.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Bootstrap development with resposive design and useful plugins" href="/assets/images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <h5>HTML development with resposive design and useful plugins</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item2.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Bootstrap development with resposive design and useful plugins" href="/assets/images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                            <h5>Bootstrap development with resposive design and useful plugins</h5>         
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item3.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Wordpress development with resposive design and useful plugins" href="/assets/images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                            <h5>Wordpress development with resposive design and useful plugins</h5>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item4.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Wordpress development with resposive design and useful plugins" href="/assets/images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                            <h5>Wordpress development with resposive design and useful plugins</h5>        
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item5.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="HTML development with resposive design and useful plugins" href="/assets/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>HTML development with resposive design and useful plugins</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item6.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="HTML development with resposive design and useful plugins" href="/assets/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                            <h5>HTML development with resposive design and useful plugins</h5>         
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item7.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Bootstrap development with resposive design and useful plugins..." href="/assets/images/portfolio/full/item7.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>Bootstrap development with resposive design and useful plugins...</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item6.jpg" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Wordpress development with resposive design and useful plugins..." href="/assets/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5>Wordpress development with resposive design and useful plugins....</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item bootstrap ruby html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item9.png" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Large scale Ruby on Rails development with complex logic." href="/assets/images/portfolio/full/item9.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5><br><br><br><br><br>Large scale Ruby on Rails development with complex logic.</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item bootstrap ruby html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item8.png" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Large scale Ruby on Rails development with complex logic." href="/assets/images/portfolio/full/item8.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5><br><br><br><br><br>Large scale Ruby on Rails development with complex logic.</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap magento html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item10.png" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Amazing eCommerce site developmet with Magento, Twitter Bootstrap, CSS3 and HTML templates..." href="/assets/images/portfolio/full/item10.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5><br><br><br><br><br>Amazing eCommerce site developmet with Magento, Twitter Bootstrap, CSS3 and HTML templates...</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap magento html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <%=image_tag "images/portfolio/thumb/item12.png" %>
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Amazing eCommerce site developmet with Magento, Twitter Bootstrap, CSS3 and HTML templates..." href="/assets/images/portfolio/full/item12.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5>Amazing eCommerce site developmet with Magento, Twitter Bootstrap, CSS3 and HTML templates...</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->